* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 20px;
}

body {
  font-family: "TT Prosto Sans Trial", sans-serif;
  font-family: "TT Prosto Sans Trl Cnd", sans-serif;
}

/*body::-webkit-scrollbar {
  display: none;
}*/

:root {
  --yellow: #ffbf25;
  --blue: #042d58;
  --grey: #d6dfe1;
  --red: #ff2216;
  --main: rgba(0, 0, 0, 0.1);
  --backgroundTopBottom: rgb(0, 0, 0);
}

.centerFlex {
  display: flex;
  align-content: center;
  justify-content: center;
}

.background {
  width: 100%;
  height: 100vh;
  background-image: url("../images/foodiesfeed.com_messy-pizza-on-a-black-table.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome,
.mainView {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--main);
}

.mainView {
  justify-content: space-between;
}

.welcome {
  cursor: pointer;
}
.welcomeLogoDiv img {
  width: 25rem;
  height: 25rem;
}

.welcomeLogoDivInfo p {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: var(--red);
}

.top {
  width: 100%;
  padding: 1rem 2.5rem;
  background-color: var(--backgroundTopBottom);
}

.topInput {
  justify-content: space-between;
}

.headerLogo {
  width: 3rem;
  height: 3rem;
}

.activities,
.activitiesOption {
  width: 100%;
  height: 100%;
}

.container {
  height: 100%;
  width: 100%;
  padding: 1rem 2.5rem;
  overflow-x: hidden;
}

.activities {
  flex-direction: column;
  padding: 1.2rem 1rem;
}

.activitiesTitle {
  padding-top: 3rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--red);
}

.activitiesSearch,
.activitiesCategories {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 12rem;
  margin: 1rem 0;
  font-size: 2rem;
  font-style: italic;
  color: var(--blue);
  background-color: rgba(214, 223, 225, 0.85);
  border-radius: 0.5rem;
}

.activitiesSearch:hover,
.activitiesCategories:hover {
  cursor: pointer;
  color: #ffbf25;
  background-color: rgba(4, 45, 88, 0.6);
  transition: color 0.3s, background-color 0.3s;
}

.activitiesOption {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.categories,
.mealRecipes {
  width: auto;
  margin: 1rem 1rem;
  flex-wrap: wrap;
  flex-grow: 1;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.mealRecipes {
  margin: 0 0;
}

.mealRecipes::-webkit-scrollbar,
.categories::-webkit-scrollbar {
  display: none;
}

.categoryCard,
.mealCard {
  height: 15rem;
  max-width: 17rem;
  margin: 1rem 1rem;
  padding: 0.5rem 0.5rem;
  flex-direction: column;

  background-color: rgba(214, 223, 225, 0.7);
  border-radius: 0.5rem;
}

.categoryCard:hover,
.mealCard:hover,
.categoryCard:hover .categoryTitle,
.mealCard:hover .mealTitle {
  /*box-shadow: 0 10px 20px rgba(214, 223, 225, 0.5);*/
  color: #ffbf25;
  cursor: pointer;
  transition: color 0.3s;
}

.categoryTitle,
.mealTitle {
  flex-grow: 1;
  flex-wrap: wrap;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--blue);
}

.categoryPhoto,
.mealPhoto {
  height: 200px;
  width: 320px;
}

.mealPhoto {
  margin-top: 0.5rem;
}

.search {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.searchTitle {
  font-size: 2rem;
  padding: 1rem;
  color: var(--grey);
}

.searchInput {
  width: 100%;
}

.inputSearch {
  padding: 0.5rem 2rem;
  border-radius: 1.5rem;
  font-size: 1rem;
}

.errorTxt {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: var(--grey);
}

.recipe,
.recipeDetail {
  height: 100%;
  width: 100%;
}
.recipe {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
}

.recipeDetail {
  flex-direction: column;
  padding: 0.5rem;
}

.recipeDetailTitle {
  width: 100%;
}

.recipeTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipeTitle > h2 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--grey);
}

.backgroundPhoto {
  position: relative;
  width: 100%;
  height: 7rem;
}

.back {
  position: absolute;
  padding: 0.5rem;
  top: 1rem;
  left: 1rem;
  color: var(--blue);
}

.back:hover {
  cursor: pointer;
  scale: 1.3;
  color: var(--yellow);
  transition: all 0.2s;
}

.recipeDetailInstr {
  flex-grow: 1;
}

.bottom {
  width: 100%;
  padding: 1.2rem 2.5rem;
  color: var(--grey);
  background-color: var(--backgroundTopBottom);
}

.footerText {
  font-size: 0.7rem;
}

.divOn {
  display: flex;
}

.divOff {
  display: none;
}
