* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 20px;
}

body {
  font-family: "TT Prosto Sans Trial", sans-serif;
  font-family: "TT Prosto Sans Trl Cnd", sans-serif;
}

:root {
  --yellow: #ffbf25;
  --blue: #042d58;
  --grey: #d6dfe1;
  --red: #ff2216;
  --main: rgba(0, 0, 0, 0.1);
  --backgroundTopBottom: rgb(0, 0, 0);
}

.centerFlex {
  display: flex;
  align-content: center;
  justify-content: center;
}

.background {
  width: 100%;
  height: 100vh;
  background-image: url("../images/foodiesfeed.com_messy-pizza-on-a-black-table.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome,
.mainView {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--main);
}

.mainView {
  justify-content: space-between;
}

.welcome {
  cursor: pointer;
}
.welcomeLogoDiv img {
  width: 25rem;
  height: 25rem;
}

.welcomeLogoDivInfo p {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: var(--red);
}

.top {
  width: 100%;
  padding: 1rem 2.5rem;
  background-color: var(--backgroundTopBottom);
}

.topInput {
  justify-content: space-between;
}

.inputHeader {
  display: flex;
  align-items: center;
}

.headerLogo {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.activities,
.activitiesOption {
  width: 100%;
  height: 100%;
}

.container {
  height: 100%;
  width: 100%;
  padding: 1rem 2.5rem;
  overflow: hidden;
  /*overflow-x: hidden;*/
}

.activities {
  flex-direction: column;
  padding: 1.2rem 1rem;
}

.activitiesTitle {
  padding-top: 3rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--red);
}

.activitiesSearch,
.activitiesCategories {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 12rem;
  margin: 1rem 0;
  font-size: 2rem;
  font-style: italic;
  color: var(--blue);
  background-color: rgba(214, 223, 225, 0.85);
  border-radius: 0.5rem;
  transition: color 0.3s, background-color 0.3s;
}

.activitiesSearch:hover,
.activitiesCategories:hover {
  cursor: pointer;
  color: #ffbf25;
  background-color: rgba(4, 45, 88, 0.6);
  transition: color 0.3s, background-color 0.3s;
}

.activitiesOption {
  height: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2.5rem;
}

.categories,
.mealRecipes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  margin: 1rem 1rem;
  flex-wrap: wrap;
  flex-grow: 1;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.mealRecipes {
  position: relative;
  margin: 0 0;
}

.mealRecipes::-webkit-scrollbar,
.categories::-webkit-scrollbar {
  display: none;
}

.categoryCard,
.mealCard {
  height: 15rem;
  max-width: 17rem;
  margin: 1rem 1rem;
  padding: 0.5rem 0.5rem;
  flex-direction: column;
  background-color: rgba(214, 223, 225, 0.7);
  border-radius: 0.5rem;
}

.categoryCard:hover,
.mealCard:hover,
.categoryCard:hover .categoryTitle,
.mealCard:hover .mealTitle {
  color: #ffbf25;
  cursor: pointer;
  transition: color 0.3s;
}

.categoryTitle,
.mealTitle {
  flex-grow: 1;
  flex-wrap: wrap;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--blue);
  transition: color 0.3s;
}

.categoryPhoto,
.mealPhoto {
  height: 200px;
  width: 320px;
}

.mealPhoto {
  margin: 0.5rem 0;
}

.search {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.searchTitle {
  font-size: 2rem;
  padding: 1rem;
  color: var(--grey);
}

.searchInput {
  width: 100%;
}

.inputDiv {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem;
}

.inputDiv > .fa-solid {
  margin-right: 0.8rem;
}

.inputSearch {
  font-size: 1rem;
  border: none;
}

.errorTxt {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: var(--grey);
}

.recipe {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
}

.recipeDetail {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.recipeDetailTitle {
  position: relative;
  padding: 1.5rem;
  padding-top: 3rem;
}

.recipeTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipeTitle > h2 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--blue);
}

.backgroundPhoto {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  /*
  background-repeat: no-repeat;
  background-position: center 50%;
  height: 5rem;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.8);*/
}

.recipeDetailInstr {
  display: flex;
  justify-content: center;
  overflow-y: scroll;
}

.recipeDetailInstr::-webkit-scrollbar {
  width: 0.3rem;
}
.recipeDetailInstr::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  border: solid var(--yellow);
}
.recipeDetailInstr::-webkit-scrollbar-track {
  background-color: none;
}

.instructions {
  flex: 4;
  padding: 1.5rem;
  font-size: 1.2rem;
  color: var(--blue);
}

.ingredients {
  flex: 1;
  font-size: 0.9rem;
  font-style: italic;
  padding: 1.5rem;
  padding-right: 1.5rem;
  padding-right: 0;
  color: var(--blue);
}

.ingredientsList h3,
.instructionsDetail h3 {
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: bold;
  color: var(--blue);
}

.ingredientsList > ul > li {
  width: 80%;
  padding: 1rem 0;
  margin-bottom: 0.3rem;
  border-bottom: 1px solid var(--blue);
}

.ingredientsList > ul > li:last-child {
  border-bottom: none;
  padding-bottom: 1.5rem;
}

.ingredientsList > ul > li:first-child {
  padding-top: 0;
}

.instructionsDetail p {
  padding-bottom: 1rem;
}

.instructionsDetail p:last-child {
  padding-bottom: 1.5rem;
}

.back {
  position: absolute;
  padding: 0.5rem;
  top: -1.5rem;
  left: 0;
  border-radius: 50%;
  color: var(--blue);
}

.backBtn {
  position: fixed;
  padding: 0.5rem;
  top: 6rem;
  left: 2.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  color: var(--blue);
  transition: all 0.2s;
}

.back:hover,
.backBtn:hover {
  cursor: pointer;
  scale: 1.3;
  color: var(--grey);
  background-color: var(--blue);
  border: none;
  transition: all 0.2s;
}

.bottom {
  width: 100%;
  padding: 1.2rem 2.5rem;
  color: var(--grey);
  background-color: var(--backgroundTopBottom);
}

.footerText {
  font-size: 0.7rem;
}

.divOn {
  display: flex;
}

.divOff {
  display: none;
}
/*
@media screen and (max-width: 576px) {
  .welcomeLogoDiv img {
    width: 15rem;
    height: 15rem;
  }

  .activitiesOption {
    margin: 0;
    flex-direction: column;
  }

  .activitiesSearch,
  .activitiesCategories {
    width: 100%;
    height: 10rem;
    margin: 1.5rem 0;
    font-size: 1.5rem;
  }
}
*/
@media screen /* and (min-width: 576px) */and (max-width: 768px) {
  .welcomeLogoDiv img {
    width: 18rem;
    height: 18rem;
  }

  .top {
    width: 100%;
    padding: 0.8rem 1rem;
  }

  .headerLogo {
    width: 2.5rem;
    height: 2.5rem;
  }

  .inputHeader {
    align-items: center;
    width: 80%;
  }

  .search {
    width: 80%;
  }

  .inputSearch {
    width: 85%;
  }

  .inputDiv {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
  }

  .container {
    height: 100%;
    width: 100%;
    padding: 0;
    overflow: hidden;
    /*overflow-x: hidden;*/
  }

  .activitiesOption {
    margin: 0;
    flex-direction: column;
  }

  .activitiesSearch,
  .activitiesCategories {
    width: 90%;
    height: 12rem;
    margin: 1.5rem 0;
    font-size: 1.5rem;
  }

  .categories {
    margin: 0;
  }

  .categoryTitle {
    font-size: 1.5rem;
  }

  .recipe {
    flex-direction: column;
    width: 100%;
    border-radius: 0;
    overflow-y: scroll;
  }

  .recipeTitle > h2 {
    font-size: 1.5rem;
    text-align: center;
  }

  .recipeDetailTitle {
    padding-top: 3rem;
  }

  .recipeDetailInstr {
    flex-direction: column;
  }

  .ingredients {
    padding-right: 1.5rem;
    padding-bottom: 0;
  }

  .ingredientsList h3,
  .instructionsDetail h3 {
    margin-bottom: 2rem;
  }

  .ingredientsList > ul > li {
    padding: 1rem 0;
    margin: 0 auto;
  }

  .back {
    top: -2rem;
    left: -0.5rem;
  }

  .backBtn {
    position: fixed;
    top: 1rem;
    left: 1rem;
    padding: 0.5rem;
  }
}
