* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

.container {
  display: flex;
  height: 100vh;
  width: 100%;
  background-image: url("../images/foodiesfeed.com_messy-pizza-on-a-black-table.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.logo {
  display: none;
  font-size: 3rem;
}

.activities {
  height: 80%;
  width: 90%;
  background-color: #fff;
  /*opacity: 0.6;*/
  border-radius: 1rem;
  overflow: scroll;
}

.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}
